Genes_prediction
Clustering
list
logs
script/Genes_prediction/.snakemake/
script/Genes_prediction/nohup_snakemake_metaeuk.out
genome
script/Busco/*.log
script/Busco/busco_downloads/*
script/Plot_CG_Depth/taxdump.tar.gz
script/Plot_CG_Depth/nohup_snakemake_Plot_CG_Depth
script/Plot_CG_Depth/nohup_snakemake_summary
Busco/
Plot_CG_Depth/
db/
script/Busco/.snakemake/
script/Busco/nohup_snakemake_Busco
script/Plot_CG_Depth/.snakemake/
Depot_data/Species_specimen_Tachinidae.txt
Depot_data/coverage_by_sample.tsv
Depot_data/data/
Depot_data/irods_repertory.txt
Depot_data/manifests/
Depot_data/webin-cli-8.2.0.jar

